*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1400px;
    background: linear-gradient(90deg, #F5F5F5 25%, #87CEFA 85%);
    margin: 0 auto;
    padding: 50px 20px;
}

.flex {
    display: flex;
}

.main-content.col {
    max-width: 350px;
    text-align: center;
}

.main-content.col h2 {
    font-size: 1.9rem;
}

.main-content.col h3 {
    padding: 10px 0;
    margin-bottom: 0;
    color: #696969;
}

.main-content.col p {
    margin: 0;
    font-size: 1.2rem;
}

.weather-forecast {
    text-align: center;
}

.weather-forecast img {
    max-width: 80px;
    width: 100%;
}

.weather-forecast .weather-info {
    font-size: 1.5rem;
    font-weight: 700;
}

.weather-forecast span {
    font-size: 1.2rem;
    color: #696969;
}

.week-forecast {
    width: 1000px;
}

.week-forecast .weather-info {
    text-align: center;
    justify-content: space-between;
}

.week-forecast .weather-info h3 {
    margin-top: 50px;
    padding: 5px 0;
    margin-bottom: 0;
    color: #696969;
}

.week-forecast .weather-info span {
    font-size: 1.2rem;
}

.week-forecast .col {
    max-width: 300px;
}

.week-forecast .col .max-tem {
    font-weight: 700;
    line-height: 2;
}

.week-forecast .col img {
    max-width: 60px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */