*,
*::before,
*::after {
	box-sizing: border-box;
}

body{
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 1400px;
    background: linear-gradient(90deg, #F5F5F5 25%, #87CEFA 85%);
    margin: 0 auto;
    padding: 50px 20px;
}

.flex{
    display: flex;
}

.main-content.col{
    max-width: 350px;
    text-align: center;
    h2{
        font-size: 1.9rem;  
    }
    h3{
        padding: 10px 0;
        margin-bottom: 0;
        color:	#696969;
        
    }
    p{
        margin: 0;
        font-size: 1.2rem;
        
    }
}

.weather-forecast{
    text-align: center;
    img{
        max-width: 80px;
        width:100%;
    }
    .weather-info{
        font-size: 1.5rem;
        font-weight: 700;
    }
    span{
        font-size: 1.2rem;
        color:	#696969;
    }
}

.week-forecast{
    width: 1000px;
    .weather-info{
        text-align: center;
        justify-content: space-between;
       
        h3{
            margin-top: 50px;
            padding: 5px 0 ;
            margin-bottom: 0;
            color:	#696969;
            
        }
        span{
            font-size: 1.2rem;;
        }
    }
    .col{
        max-width: 300px;
        .max-tem{
            font-weight: 700;
            line-height: 2;
        }
        img{
            max-width: 60px;
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        
    }
}